.articles
    &-box
        display: flex
        flex-direction: column
        align-items: center
        gap: 41px
        &:hover
            .articles
                &-img
                    img
                        transform: scale(1.05)
    &-img
        position: relative
        width: 100%
        height: 486px
        overflow: hidden
        border-radius: 25px
        flex-shrink: 0
        img
            transition: 0.5s all
            @include imgFit
    &-strip
        position: absolute
        bottom: 26px
        right: 26px
        background-color: $basecolor
        border-radius: 50px
        padding: 8px 22px
        font-size: 16px
        font-weight: 400
        color: $white
    &-contents
        h4
            font-size: 25px
            line-height: 35px
            margin-bottom: 23px
            font-weight: 600
            font-family: $fontstack2
            color: $black
        p
            font-size: 16px
            line-height: 25px
            margin-bottom: 36px
            font-weight: 400
            color: $black
            text-align: justify
        a
            font-size: 16px
            font-weight: 400
            letter-spacing: 2px
            text-transform: uppercase
            color: $black
            &:hover
                color: $basecolor2
                letter-spacing: 3px

#articles-section
    padding: 50px 0 60px
    @media only screen and (min-width: 576px)
        padding: 65px 0 100px
    @media only screen and (min-width: 1441px)
        padding: 80px 0 130px
    .articles
        &-wrapper
            display: flex
            flex-wrap: wrap
            gap: 40px 32px
            @media only screen and (min-width: 576px)
                gap: 40px 32px
            @media only screen and (min-width: 1441px)
                gap: 48px 52px
            @media only screen and (min-width: 1681px)
                gap: 63px 103px
        &-box
            display: flex
            flex-direction: column
            align-items: center
            gap: 12px
            width: 100%
            @media only screen and (min-width: 576px)
                gap: 20px
            @media only screen and (min-width: 767px)
                width: calc( (100% / 2) - 16px )
            @media only screen and (min-width: 1200px)
                width: calc( (100% / 3) - 22px )
            @media only screen and (min-width: 1441px)
                gap: 41px
                width: calc( (100% / 3) - 35px )
            @media only screen and (min-width: 1681px)
                width: calc( (100% / 3) - 69px )
        &-img
            @media only screen and (max-width: 1550px)
                height: 415px
            @media only screen and (max-width: 1440px)
                height: 360px
            @media only screen and (max-width: 575px)
                height: 340px
        &-strip
            @media only screen and (max-width: 1440px)
                bottom: 18px
                right: 18px
            @media only screen and (max-width: 575px)
                font-size: 14px
        &-contents
            h4
                @media only screen and (max-width: 575px)
                    margin-bottom: 5px
            p
                @media only screen and (max-width: 1440px)
                    margin-bottom: 20px
                @media only screen and (max-width: 575px)
                    margin-bottom: 10px
            a
                @media only screen and (max-width: 575px)
                    font-size: 14px
#articles-details
    padding: 58px 0 66px
    @media only screen and (min-width: 576px)
        padding: 75px 0 92px
    .articles-details
        &-left
            @media only screen and (min-width: 992px)
                padding-right: 32px
            h3
                font-size: 26px
                margin-bottom: 12px
                font-weight: 600
                line-height: 1
                color: $black
                font-family: $fontstack2
                @media only screen and (min-width: 576px)
                    font-size: 30px
                    margin-bottom: 15px
                @media only screen and (min-width: 1441px)
                    font-size: 34px
                    margin-bottom: 18px
                @media only screen and (min-width: 1551px)
                    font-size: 40px
            h5
                font-size: 20px
                margin-bottom: 8px
                font-weight: 500
                color: $black
                @media only screen and (min-width: 576px)
                    font-size: 22px
                    margin-bottom: 10px
                @media only screen and (min-width: 1441px)
                    font-size: 25px
                    margin-bottom: 12px
            ul
                margin-bottom: 25px
                padding-left: 20px
                @media only screen and (min-width: 576px)
                    margin-bottom: 30px
                li
                    font-size: 15px
                    line-height: 24px
                    color: $black
                    font-weight: 400
                    list-style-type: disc
                    margin-bottom: 6px
                    @media only screen and (min-width: 576px)
                        font-size: 16px
                        line-height: 25px
            p
                font-size: 15px
                line-height: 24px
                margin-bottom: 20px
                color: $black
                font-weight: 400
                @media only screen and (min-width: 576px)
                    font-size: 16px
                    line-height: 25px
                    margin-bottom: 25px

            mark
                padding: 0
                background-color: transparent
                font-size: 16px
                line-height: 20px
                font-weight: 500
                color: $black
                @media only screen and (min-width: 576px)
                    font-size: 18px
                    line-height: 22px
                @media only screen and (min-width: 1441px)
                    font-size: 20px
                    line-height: 25px

        &-right
            @media only screen and (min-width: 992px)
                padding-left: 20px
            @media only screen and (min-width: 1441px)
                padding-left: 52px
            @media only screen and (max-width: 1199px)
                margin-top: 40px
            h5
                font-size: 30px
                line-height: 32px
                font-weight: 600
                margin-bottom: 25px
                color: $black
                font-family: $fontstack2
                @media only screen and (min-width: 1441px)
                    font-size: 36px
                    line-height: 35px
                    margin-bottom: 35px
                @media only screen and (min-width: 1551px)
                    font-size: 40px
                    margin-bottom: 51px
    .recent-posts
        display: flex
        flex-direction: column
        gap: 56px
        .articles
            &-box
                gap: 15px
                @media only screen and (min-width: 1441px)
                    gap: 25px
                @media only screen and (min-width: 1551px)
                    gap: 25px
            &-img
                height: 330px
                @media only screen and (min-width: 1551px)
                    height: 380px
            &-contents
                p 
                    margin-bottom: 16px
                    @media only screen and (min-width: 1551px)
                        margin-bottom: 20px