footer
    background-color: #0E1B2B
    position: relative
    &::before
        position: absolute
        content: ""
        bottom: 0
        left: 0
        width: 100%
        height: 93px
        z-index: 1
        background-image: url("../images/footer-text.png")
        background-size: cover
        background-repeat: no-repeat
    .topFooter
        .footer-info
            border-bottom: solid 1px rgba(217, 217, 217, 0.35)
            padding: 30px 0 42px
            h2
                font-family: $fontstack2
                font-size: 60px
                font-weight: 500
                margin-bottom: 0
                color: $white
            p
                font-family: $fontstack2
                font-size: 20px
                font-weight: 500
                margin-bottom: 0
                color: $white
            &-wrapper
                display: flex
                align-items: center
                gap: 51px
                padding-top: 18px
                ul
                    li
                        a
                            display: flex
                            align-items: center
                            gap: 28px
                            font-family: $fontstack2
                            font-size: 20px
                            font-weight: 500
                            color: $white
                            img
                                @include imgFit
                                max-width: 43px
        .footer-links
            padding: 70px 0 61px
            &-company
                padding-left: 105px
            &-contact
                padding-left: 115px
            &-head
                font-size: 25px
                font-weight: 500
                margin-bottom: 32px
                color: $white
                font-family: $fontstack2
            ul
                margin-bottom: 21px
                li
                    a
                        font-family: $fontstack2
                        font-size: 16px
                        font-weight: 400
                        line-height: 30px
                        letter-spacing: 0.2em
                        color: $white
                        &.adress 
                            display: flex
                            max-width: 243px
                        &.bold
                            font-weight: 700
                        &:hover
                            color: $basecolor2
            p
                font-family: $fontstack2
                font-size: 16px
                font-weight: 400
                line-height: 30px
                letter-spacing: 0.2em
                margin-bottom: 45px
                color: $white
            .google-map-btn
                width: fit-content
                border: solid 1px $white
                color: $white
                font-size: 16px
                font-weight: 500
                letter-spacing: 2px
                text-transform: uppercase
                padding: 12px 17px
                gap: 8px
                font-family: $fontstack2
                display: flex
                justify-content: center
                align-items: center
                margin-top: 36px
                &:hover
                    border-color: $basecolor2
                    color: $basecolor2
            .subscribe-wrapper
                display: flex
                width: 100%
                input
                    width: calc( 100% - 203px )
                    font-family: $fontstack2
                    font-size: 16px
                    color: $black
                    padding: 8px 14px
                    &::placeholder
                        letter-spacing: 2px
                        color: #A8A8A8
                    &:focus 
                        outline: none
                .baseBtn
                    width: 203px



    .bottomFooter
        position: relative
        z-index: 2
        padding: 12px 0 15px
        justify-content: space-between
        border-top: solid #1D3755
        @include display
        @media only screen and (min-width: 468px)
            padding: 15px 0 20px
        @media only screen and (min-width: 992px)
            padding: 20px 0 24px
        @media only screen and (min-width: 1200px)
            padding: 24px 0 28px
        @media only screen and (min-width: 1441px)
            padding: 30px 0 34px
        @media only screen and (min-width: 1551px)
            padding: 58px 0 64px
        &>*
            @media only screen and (max-width: 575px)
                width: 100%
                margin: auto
        .lftSec
            @media only screen and (max-width: 575px)
                padding-bottom: 4px
        p
            font-size: 13px
            font-family: $fontstack2
            font-weight: 500
            color: $white
            margin-bottom: 0
            @media only screen and (min-width: 768px)
                font-size: 14px
            @media only screen and (min-width: 1200px)
                font-size: 15px
            @media only screen and (min-width: 1441px)
                font-size: 16px
            @media only screen and (min-width: 1551px)
                font-size: 18px
            @media only screen and (max-width: 575px)
                text-align: center
        a
            font-size: 13px
            font-weight: 500
            color: $white
            transition: 0.4s all
            @media only screen and (min-width: 768px)
                font-size: 14px
            @media only screen and (min-width: 1200px)
                font-size: 15px
            @media only screen and (min-width: 1441px)
                font-size: 16px
            &:hover
                color: $basecolor
